
body {
    margin: 0;
    background-color: rgb(247, 241, 241);
    font-family: arial black;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 42px;
    text-align: center;
}

header {
    width: 100%;
    background-color : rgb(27, 5, 107);
    color: white;
    height: 120px;
    margin-bottom: 20px;
}

#header-top {
    text-align: center;
    padding-top: 10px;
}

#header-top .material-icons {
    font-size: 60px;
    vertical-align: middle;
}

#header-sub {
    text-align: center;
    font-size: 16px;
}

#header-sub li {
    display: inline-block;
    padding: 10px 30px;
    color: white;
}

.nav-link {
	/* padding: 0.1em 0.3em; */
	position: relative;
	display: inline-block;
	transition: .3s;
	/* color: #AB47BC; */
}

.nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 0;
	height: 5px;
	background-color: rgb(46, 255, 64);
	transition: .3s;
}

#header-sub .material-icons {
    vertical-align: middle;
    padding: 0 10px;
}

#top-profile {
    text-align: center;
}

#top-profile img {
    width: 200px;
    border-radius: 50%;
}

#top-profile p {
    margin-top: 0px;
    font-size: 28px;
    font-family: 'Pacifico', cursive;
}

#works {
    text-align: center;
}

.work-detail{
    justify-content: space-between;
}

.work-card {
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    margin: 0 20px 20px 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.work-card img {
    width: 320px;
    height: 210px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#skills {
    text-align :center;
}

.skill-detail {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 0 20px 20px 0;
    padding: 40px 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.skill-detail ul {
    width: 70%;
    margin: auto;
}
.skill-detail li {
    display: inline-block;
    padding: 30px;
}

.skill img {
    width: 80px;
}

.lang-star {
    margin-top: 3px;
    color: rgb(247, 187, 77);
}

#profile {
    text-align: center;
    position: relative;
    margin: 100px auto;
}

#profile h2 {
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.profile-detail img {
    width: 200px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: -100px auto 0;
}

.profile-content {
    background-color: white;
    width: 50%;
    border-radius: 15px;
    margin: auto;
    padding: 100px 0 30px 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.profile-content p {
    margin: 0;
}

.profile-sns {
    margin-top: 20px;
}
.profile-sns .fa {
    padding: 10px;
}

.profile-sns .twitter {
    font-size: 36px;
    border-radius: 50%;
    background-color: rgb(35, 165, 245);
    padding: 7px;
    margin-right: 10px;
    color: white;
}

.twitter:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.profile-sns .github {
    font-size: 36px;
    border-radius: 50%;
    background-color: black;
    padding: 7px;
    color: white;
}

.github:hover {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}


footer {
    width: 100%;
    height: 80px;
    background-color : rgb(27, 5, 107);
    color: white;
    text-align: center;
    line-height: 100px;
}